@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");
@tailwind base;
@tailwind utilities;
@tailwind components;

body {
  font-family: "Montserrat" !important;
}

*::-webkit-scrollbar {
  display: none;
}

* {
  scrollbar-width: none;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.card {
  width: 640px;
  position: relative;
  background-color: rgb(16 16 16);
  border: 1px solid rgb(255 255 255 / 5%);
  border-radius: 1.5rem;
  padding: 1rem;
}

.card::after {
  content: "";
  height: 70px;
  width: 1px;
  position: absolute;
  left: -1px;
  top: 65%;
  transition: top, opacity;
  transition-duration: 600ms;
  transition-timing-function: ease;
  background: linear-gradient(transparent, mediumslateblue, transparent);
  opacity: 0;
}

.card:after {
  top: 65%;
  opacity: 0;
}

.card:hover:after {
  top: 25%;
  opacity: 1;
}

.card-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  background-image: radial-gradient(
    rgba(255, 255, 255, 0.1) 1px,
    transparent 1px
  );
  background-position: 50% 50%;
  background-size: 1.1rem 1.1rem;
  padding: 4rem;
  border-radius: 1.25rem;
  overflow: hidden;
}

.card-content > :is(h1, h3, p) {
  text-align: center;
}

.card-content > h1 {
  color: rgb(250 249 246);
  font-size: 2.6rem;
  font-weight: bold;
}

.card-content > button {
  color: mediumslateblue;
}

.card-content > h3 {
  color: mediumslateblue;
  text-transform: uppercase;
  font-size: 0.76rem;
  font-weight: bold;
}

.card-content > p {
  color: rgb(255 255 255 / 75%);
  line-height: 1.5rem;
}

@media (max-width: 700px) {
  .card {
    width: calc(100% - 2rem);
    margin: 0rem 1rem;
    padding: 0.75rem;
    border-radius: 1rem;
  }
}

@media (max-width: 600px) {
  .card-content {
    padding: 3rem;
  }

  .card-content > h1 {
    font-size: 2.2rem;
  }
}

@keyframes rotate {
  from {
    rotate: 0deg;
  }

  50% {
    scale: 1 1.5;
  }

  to {
    rotate: 360deg;
  }
}

#blob {
  background-color: white;
  height: 34vmax;
  aspect-ratio: 1;
  position: absolute;
  left: 50%;
  top: 50%;
  translate: -50% -50%;
  border-radius: 50%;
  background: linear-gradient(to right, aquamarine, mediumpurple);
  animation: rotate 20s infinite;
  opacity: 0.8;
}

#blur {
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 2;
  backdrop-filter: blur(12vmax);
}

.text-left {
  text-align: left !important;
}

.pog {
  color: hsl(210 6% 93%);
  background-color: hsl(0 0% 6%);
  box-shadow: 0 0 0 2px hsl(300 99.4% 67.1% / 0.102),
    -15px 0 30px -15px hsl(24 100% 49.9% / 0.523),
    0 0 30px -15px hsl(322 99.7% 55.4% / 0.608),
    15px 0 30px -15px hsl(250 99.7% 66.1% / 0.733);
  height: 45px;
  padding: 0 20px;
  font-weight: 700;
  font-size: 15px;
  border-radius: 6px;
}

.pog:hover {
  opacity: 0.9;
}

:root {
  --purple: rgb(123, 31, 162);
  --violet: rgb(103, 58, 183);
  --pink: rgb(244, 143, 177);
}

@keyframes background-pan {
  from {
    background-position: 0% center;
  }

  to {
    background-position: -200% center;
  }
}

@keyframes scale {
  from,
  to {
    transform: scale(0);
  }

  50% {
    transform: scale(1);
  }
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(180deg);
  }
}

.header {
  color: white;
  font-family: "Rubik", sans-serif;
  font-size: clamp(3em, 2vw, 4em);
  font-weight: 700;
  padding: 20px;
  text-align: center;
}

.header > .magic {
  display: inline-block;
  position: relative;
}

.header > .magic > .magic-star {
  --size: clamp(20px, 1.5vw, 30px);

  animation: scale 700ms ease forwards;
  display: block;
  height: var(--size);
  left: var(--star-left);
  position: absolute;
  top: var(--star-top);
  width: var(--size);
}

.header > .magic > .magic-star > svg {
  animation: rotate 1000ms linear infinite;
  display: block;
  opacity: 0.7;
}

.header > .magic > .magic-star > svg > path {
  fill: var(--violet);
}

.header > .magic > .magic-text {
  animation: background-pan 3s linear infinite;
  background: linear-gradient(
    to right,
    var(--purple),
    var(--violet),
    var(--pink),
    var(--purple)
  );
  background-size: 200%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  white-space: nowrap;
}
